{% extends "base.html" %}

{% block title %}电影 top 25{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/top_25.css') }}">
{% endblock %}

{% block main %}
<div class="container">
    <h1 class="page_title">Top 25的电影</h1>
    <div class="movies_list">
        {% for movie_info in movies_info %}  
        <div class="movie_item">
            <div class="movie_rank">排名: {{ loop.index }}</div>
            <a href="{{ url_for('movie.movie_detail', id=movie_info.id) }}" class="movie_poster_link">
                <img src="{{ movie_info.poster }}" alt="{{ movie_info.title }} 的图片" class="movie_poster">
            </a>
            <div class="movie_info">
                <a href="{{ url_for('movie.movie_detail', id=movie_info.id) }}" class="movie_title">{{ movie_info.title }}</a>
                <div class="movie_year">上映年份: {{ movie_info.year }}</div>
                <div class="movie_duration">时长: {{ movie_info.duration }} min</div>
                <div class="movie_director">
                    导演: 
                    {% for one_director in movie_info.director %}
                    {{ one_director.name }}{% if not loop.last %} / {% endif %}
                    {% endfor %}
                </div>
                <div class="movie_casts">
                    演员: 
                    {% for one_actor in movie_info.casts[:3] %}
                    {{ one_actor.name }}{% if not loop.last %} / {% endif %}
                    {% endfor %}
                </div>
                <div class="movie_genres">类型: {{ movie_info.genres }}</div>
                <div class="movie_rating">评分: {{ movie_info.local_rating }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
