{% extends "base.html" %}

{% block title %}电影 top 25{% endblock %}

{% block header %}
    <h1>电影 Top 25</h1>
{% endblock %}

{% block  main %}
    {% for movie_info in movies_info %}  
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <a href="{{ url_for('movie.movie_detail', id=movie_info.id) }}"><img src="{{ movie_info.poster}}" alt="电影的图片" width="150"></a>
                        </td>
                        <td>
                            <div class="movie_info_text">
                                <a href="{{ url_for('movie.movie_detail', id=movie_info.id) }}"> {{ movie_info.title }} </a>
                            </div>
                            <div>上映年份 {{ movie_info.year }}</div>
                            <div>时长 {{ movie_info.duration }}</div>
                            <div>类型 {{ movie_info.genres }}</div>
                            <div>评分 {{ movie_info.rating }}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    {% endfor %}
{% endblock %}