{% extends "base.html" %}

{% block title %}首页{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main_index.css') }}">
{% endblock %}

{% block main %}
<div class="container">
    <div class="welcome">
        <h1>欢迎来到USTC电影交流平台</h1>
    </div>
    <div class="recent_hot">
        <h2>正在热映</h2>
        <div class="carousel-container">
            <div class="carousel">
                {% for onemovie in recent[:15] %}
                <div class="movie">
                    <div class="pic">
                        <a href="{{ url_for('movie.movie_detail', id=onemovie.id) }}">
                            <img src="{{ onemovie.poster }}" alt="电影的图片">
                        </a>
                    </div>
                    <div class="rating">
                        <a href="{{ url_for('movie.movie_detail', id=onemovie.id) }}"><p class="title">{{onemovie.title}}</p></a>
                        <p class="stars">
                            {{ onemovie.local_rating }}
                            {% set rating_int = onemovie.local_rating | int %}
                            {% set full_stars = rating_int // 2 %}
                            {% set empty_stars = 5 - full_stars %}
                            {% for _ in range(full_stars) %}★{% endfor %}
                            {% for _ in range(empty_stars) %}☆{% endfor %}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="recommendation">
        <h2>今日推荐</h2>
        <div class="carousel-container">
            <div class="carousel">
                {% for onemovie in random[:15] %}
                <div class="movie">
                    <div class="pic">
                        <a href="{{ url_for('movie.movie_detail', id=onemovie.id) }}">
                            <img src="{{ onemovie.poster }}" alt="电影的图片">
                        </a>
                    </div>
                    <div class="rating">
                        <a href="{{ url_for('movie.movie_detail', id=onemovie.id) }}"><p class="title">{{onemovie.title}}</p></a>
                        <p class="stars">
                            {{ onemovie.local_rating }}
                            {% set rating_int = onemovie.local_rating | int %}
                            {% set full_stars = rating_int // 2 %}
                            {% set empty_stars = 5 - full_stars %}
                            {% for _ in range(full_stars) %}★{% endfor %}
                            {% for _ in range(empty_stars) %}☆{% endfor %}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="classic">
        <h2>影史经典</h2>
        <div class="carousel-container">
            <div class="carousel">
                {% for onemovie in top[:15] %}
                <div class="movie">
                    <div class="pic">
                        <a href="{{ url_for('movie.movie_detail', id=onemovie.id) }}">
                            <img src="{{ onemovie.poster }}" alt="电影的图片">
                        </a>
                    </div>
                    <div class="rating">
                        <a href="{{ url_for('movie.movie_detail', id=onemovie.id) }}"><p class="title">{{onemovie.title}}</p></a>
                        <p class="stars">
                            {{ onemovie.local_rating }}
                            {% set rating_int = onemovie.local_rating | int %}
                            {% set full_stars = rating_int // 2 %}
                            {% set empty_stars = 5 - full_stars %}
                            {% for _ in range(full_stars) %}★{% endfor %}
                            {% for _ in range(empty_stars) %}☆{% endfor %}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="divider" ></div>
</div>
{% endblock %}
