<!DOCTYPE html>
<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"> -->
        {% block extra_css %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <div class="logo">
                    <a href="{{ url_for('main.index') }}">
                        <img src="{{ url_for('static', filename='images/avatars/fixed_pics/logo.jpg') }}" alt="logo" width="50px">
                    </a>
                </div>
                <div class="main">
                    <a href="{{ url_for('main.index') }}">主页</a>
                </div>
                <div class="menu">
                    <a href="{{ url_for('menu.index') }}">菜单</a>
                </div>
                <div class="search-form">
                    <form action="{{ url_for(search.search) }}" method="get">
                        <select id="searchType">
                            <option value="movies">搜索电影</option>
                            <option value="actors">搜索演员</option>
                            <!-- 可以根据需要添加更多选项 -->
                        </select>
                        <input type="text" id="searchKeyword" placeholder="请输入关键词">
                        <button type="button" onclick="search()">搜索</button>
                    </form>
                </div>
                <div class="user">
                    {% if g.current_user %}
                        <a href="{{ url_for('user.profile', username = g.current_user.username) }}">{{ g.current_user.username }}</a>
                    {% else %}
                        <a href="{{ url_for('user.login') }}">登陆</a>
                    {% endif %}
                </div>
            </nav>
        </header>
        <main>
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning" role="alert">{{ message }}</div>
            {% endfor %}
            {% block main %}{% endblock %}
        </main>
        <script>
            function search() {
                var searchType = document.getElementById("searchType").value;
                var keyword = document.getElementById("searchKeyword").value;
                
                // 根据选择的搜索类型执行相应的搜索操作，这里只是示例，具体实现需根据实际情况调整
                if (searchType === "movies") {
                    alert("搜索电影: " + keyword);
                    // 可以添加实际的搜索逻辑，例如跳转到搜索结果页面等
                } else if (searchType === "actors") {
                    alert("搜索演员: " + keyword);
                    // 可以添加实际的搜索逻辑，例如跳转到搜索结果页面等
                }
            }
        </script>
        <footer>
            <div>
                制作人：彭煜峰 and 张哲
            </div>
            <div>
                <a href="#">联系我们</a>    
            </div>
        </footer>
        
    </body>
</html>