{% extends 'base.html' %}

{% block title %}个人主页{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block main %}
    <div class="container">
        <div class="avatar">
            {% if current_user.avatar %}
                <img src="{{ url_for('static', filename=current_user.avatar) }}" alt="你的头像被外星人偷走了～"/>
            {% else %}
                <img src="{{ url_for('static', filename='images/avatars/fixed_pics/logo.jpg') }}" alt="默认头像">
            {% endif %}
        </div>
    
        <div>
            <h1>{{ current_user.username }} 的个人主页</h1>
            <div class="log_off">
                <a href="{{ url_for('user.logout') }}">退出登录</a>
            </div>
        </div>
        
        <div class="mail">
            <h3>邮箱</h3>
            {% if current_user.email %}
                <p>{{ current_user.email }}</p>
            {% else %}
                <p>未设置邮箱</p>
            {% endif %}
        </div>
        <div class="bio">
            <h3>个人简介</h3>
            {% if current_user.bio %}
                <p>{{ current_user.bio }}</p>
            {% else %}
                <p>暂无介绍</p>
            {% endif %}
        </div>
    
        <div class="birthday">
            <h3>生日</h3>
            {% if current_user.birthday %}
                <p>{{ current_user.birthday }}</p>
            {% else %}
                <p>未设置出生日期</p>
            {% endif %}
        </div>
        
        <button id="profile_modify" onclick="redirectToModify()">修改个人资料</button>
    
        <script>
            function redirectToModify() {
                window.location.href = "{{ url_for('user.profile_modify', username=current_user.username) }}";
            }
        </script>
    </div>
{% endblock %}
