{% extends 'base.html' %}

{% block title %}个人主页{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block main %}
    <div class="container">
        <div class="avatar">
            <img src="{{ url_for('static', filename='images/avatars/fixed_pics/default.jpg') }}" alt="默认头像">
        </div>

        <div>
            <h1>
                {{ user.username }}
                {% if user.admin == 1 %}
                (管理员)
                {% endif %} 
                 的个人主页</h1>
            {% if user.id == g.current_user.id %}
            <div class="log_off">
                <a href="{{ url_for('user.logout') }}">退出登录</a>
            </div>
            {% endif %}
        </div>
        
        <div class="mail">
            <h3>邮箱</h3>
            {% if user.email %}
                <p>{{ user.email }}</p>
            {% else %}
                <p>未设置邮箱</p>
            {% endif %}
        </div>
        <div class="bio">
            <h3>个人简介</h3>
            {% if user.bio %}
                <p>{{ user.bio }}</p>
            {% else %}
                <p>暂无介绍</p>
            {% endif %}
        </div>
    
        <div class="birthday">
            <h3>生日</h3>
            {% if user.birthday %}
                <p>{{ user.birthday }}</p>
            {% else %}
                <p>未设置出生日期</p>
            {% endif %}
        </div>
        
        {% if user.id == g.current_user.id %}
        <button id="profile_modify" onclick="redirectToModify()">修改个人资料</button>
        {% endif %}
    
        <script>
            function redirectToModify() {
                window.location.href = "{{ url_for('user.profile_modify', username=user.username) }}";
            }
        </script>
    </div>
{% endblock %}
